// Logo
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}


// Search
.search {

    // Flexbox item 
    flex: 0 0 40%;

    // Nested flexbox container
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem; // "Move" button on top of input by "cutting" element's right side

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    // When input has focus, select sibling button
    &__input:focus + &__button {

        // Make button same bg-color as input
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}



// User nav
.user-nav {

    // Flex item
    align-self: stretch; // Override container's 'align-items: center' so that they fill all the space

    // Nested flex container
    display: flex;
    justify-content: center;
    align-items: center;

    // Select direct children
    & > * {
        padding: 0 2rem;
        cursor: pointer;

        height: 100%; // Fix hover so that hover effect is from top to bottom

        // Create flex box for the direct children (&__icon-box and &__user) so that they may be centered
        display: flex;
        align-items: center;
    }

    // Select direct children's hover
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    // Box around each icon
    &__icon-box {
        position: relative;
    }

    // Icon within each box
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    // Number next to icons
    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        // Position notification to the exact spot
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        // Center number within notification
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__user-name {

    }

}



// Side navigation
.side-nav {

    list-style: none;
    font-size: 1.4rem;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
    
    // Create pseudo element that "grows over" normal item on hover
    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--color-primary);

        // Initial state (not visible)
        width: .3rem;
        transform: scaleY(0);
        transition: transform .2s, 
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    // Before item on hover
    &__item:hover::before,
    // Active item on hover
    &__item--active::before
    {
        // Grow element in y direction and width
        transform: scaleY(1);
        width: 100%;
    }

    // Highlight which one is clicked 'active'
    &__item:active::before {
        background-color: var(--color-primary-light);
    }   

    &__link:link, &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;

        position: relative;
        z-index: 10;

        display: flex;
        align-items: center;
    }

    
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }

}

// Legal
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}